@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Almendra", sans-serif;
    color:blue;
    user-select: none;
}

.btn-floating:hover {
  filter: invert(100%);
}

i.material-symbols-outlined {
  vertical-align: middle;
  align-items: center;
  font-size: 2vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 40,
  'opsz' 10,
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 42vw;
    height: 42vw;
    justify-content: space-between;
    vertical-align: middle;
    z-index: 100;
}
.bpm-display {
    text-align: center;
    color:indianred;
}
.bpm-display .tempo {
    font-size: 7vw;
    font-weight: bold;
}
.tempo-text {
    font-size: 2vw;
    text-transform: uppercase;
    text-align: center;
}

.tempo-settings {
    text-align: center;
}

/* .tempo-settings .adjust-tempo-btn {
    margin: 0.3vw;
    width: 3vw;
    height: 3vw;
    font-size: 1.5vw;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
} */

/* .tempo-settings .adjust-tempo-btn:hover {
    background-color: #fa545c;
    color: #fff;
} */

/* input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70vw;
} */
/* input[type=range]::-webkit-slider-thumb {
     -webkit-appearance: none;
}
input[type=range]:focus {
     outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
    background-color: #ff656c;
    cursor: pointer;
    margin-top: -.5vw;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
    background-color: #ff656c;
    cursor: pointer;
} */

/* input[type=range]::-webkit-slider-runnable-track {
    width: 80vw;
    height: .1vw;
    background-color: #ddd;
}
input[type=range]::-moz-range-track {
    width: 90vw;
    height: .3vw;
    background-color: #ddd;
} */

#slider {
  padding: 2vw;
  width: 42vw;
  text-align: center;
}

#start-stop {
    font-size: 3vw;
    max-height: 10vw;;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.start-stop-btn {
    text-align: center;
}
.start-stop-btn:hover {
  filter: brightness(120%);
}
.measures {
    display: flex;
    justify-content: space-around;
    font-weight: 200;
}
.measures .stepper {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}
.measures .stepper:hover {
    background: #ff656c;
}
.measures .add-beats {
    justify-content: space-between;
    background-color: white;
}
.measures .measure-count {
  font-size: 4vw;
}
.measures .subtract-beats {
    justify-content: space-between;
    background-color: white;
}

.beats-per-measure-text {
    margin: 5vw;
    text-align: center;
    font-size: 2.5vw;
    text-transform: uppercase;
}