@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');

* {
    padding: 0;
    margin: 0;
}

html, body {
  height: 100%;
    font-family: "Almendra", sans-serif;
    color:blue;
    user-select: none;
}

.btn-floating:hover {
  filter: invert(100%);
}

i.material-symbols-outlined {
  vertical-align: middle;
  align-items: center;
  font-size: 2vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 40,
  'opsz' 10,
}

.main {
  display: grid;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  vertical-align: baseline;
  width: 100vw;
}

.metronome {
  display: flex;
  border: 10px solid black;
  flex-direction: column;
  min-width: 60%;
  min-height: 70%;
  vertical-align: middle;
  z-index: 100;
}
.bpm-display {
    text-align: center;
    color:indianred;
}
.bpm-display .tempo {
    font-size: 7vw;
    font-weight: bold;
}
.tempo-text {
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
}

/* .container {
  display: absolute;
  text-align: center;
} */
.button-groups {
  padding: 1.2vw;
  display: flex;
  margin: 0;
}
.duobtn-min {
  display: flex;
  position: relative;
  padding-left: 3vw;
  justify-content: space-evenly;
  justify-self: start;
  text-align: center;
	flex: 50%;
}
.duobtn-add {
  display: flex;
  padding-right: 3vw;
  justify-content: space-evenly;
  justify-self: end;
  float: inline-end;
	flex: 50%;
  text-align: center;
}
.tempo-btn {
  background: rgb(216, 59, 59);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 8);
  transform: scale(1);
}
.tempo-btn:hover {
	animation: pulse-black 2s infinite;
}
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


.range-field {
  margin: auto;
  
}
input[type=range] {
  display: inline-flexbox;
  position: relative;
  justify-self: center;
  padding-bottom: 4vw;
  width: 35vw;
  text-align: center;
}

#start-stop {
  padding: 1.2vw;
    font-size: 3vw;
    justify-content: center;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.start-stop-btn {
  display: flex;
  text-align: center;
}
.start-stop-btn:hover {
  filter: brightness(120%);
}

.measures {
  margin-bottom: 20%;
  display: inline-block;
text-align: center;
  font-weight: 200;
  flex-wrap: nowrap;
}
.measures #add-rem {
  display: inline;
  margin-bottom: 0;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.measures button:hover {
  animation: pulse-black 2s infinite;
}
.measures button {
  margin: 9px;
  size-adjust: 80%;
  border: 1px solid black;
  border-radius: 50%;
  vertical-align: middle;
    background-color: rgb(170, 169, 225);
}
.measure-count {
  font-display: initial;
  margin-top: -3px;
  font-size: 6.9vh;
  flex-direction: row;
}
/* #subtract-beats {
  border-radius: 50%;
    justify-content: space-between;
    vertical-align: bottom;
    background-color: rgb(170, 169, 225);
} */

#perm {
  text-align: center;
  height: 20px;
  justify-content: center;
  vertical-align: top;
  margin-top: -3px;
  font-weight: 200;
  flex-direction: row;
}